.rooms-info-block {
width: 100%;
height: auto;
display: flex;
justify-content: center;
flex-direction: column;
}

.rooms-info-block-header{
    width: 100%;
    height: 15%;
    background-color: #fdb713;
    border: 1px solid orangered;
    text-align: center;
    line-height: 250%;
    font-size: 300%;
    font-weight: 600;
}

.rooms-info-block-content{
    margin: 2% auto;
    width: 62%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
